$background-footer:#000;
$background-valores:rgba(244, 232, 193, 0.5);
$background-servicios:#E8FAD3;
$background-menu-wrapper:#6DAACA;
$background-objetivos-wrapper:#fbf7e9;
$background-cards:#fff;
$background-form-servicio:#f8f8f8;

$background-main-buttons:#A2CCE2;
$background-main-buttons-hover:#000;
$background-button-comprar:#e4572e;

$color-menu-header:#969695;
$color-title-blog-home:#31475E;
$color-title-sections:#6DAACA;
$color-main-text:#2C2C2C;
$color-main-buttons-text:#fff;
$color-main-buttons-text-hover:#fff;
$color-text-blog-home:#6a7c92;
$color-text-tax-desc:#5b5b5b;
$color-text-cursos-home:#A4A4A4;
$color-text-footer:#D6D6D6;


