$font__opensans: 'Open Sans', sans-serif;
$font__roboto: 'Roboto', sans-serif;
$font__montserrat: 'Montserrat', sans-serif;
$font__size_300:300;
$font__size_400:400;
$font__size_600:600;
$font__size_700:700;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$title-home-size:33px;
$title-home-valores-size:15px;
$title-home-servicios-size:1.15em;
$title-home-blog-size:16px;

$title-margin-bottom:57px;
$subtitle-margin-bottom:19px;
