.footer {
    padding-top:54px;

    &--bg-color{
        background-color:$background-footer;
        color:$color-text-footer;
    }
}
.menu-footer{
    .menu-menu-pie-pagina-container{
        margin-bottom: 20px;
        display: block;
        text-align:center;
        padding-top:15px;
        border-top:solid 1px #fff;

        li{
            display: inline-block;
            padding:0 6px;
        }

        a{
            font-family: $font__montserrat;
            color: $color-main-buttons-text;
            font-size: .8em;
        }
    }
}

.row-navs{

    font-family: $font__montserrat;

    li{
        a{
            display: block;
            color: $color-main-buttons-text;
            font-size:1em;
            text-transform: uppercase;
            margin-bottom:14px;
        }

        ul li a {
            font-size:.8em;
            text-transform:none;
        }

        margin-bottom: 16px;
    }
}

.row-navs{
    margin-bottom:40px;
}