// @import "../header/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "mixin/mixin";
@import "buttons/buttons";
@import "header/header";
@import "footer/footer";
@import "home/home";
@import "typo/typo";

a,
a:hover{
    text-decoration:none;
}
.arrows{
    position:relative;
    z-index: 1;

    .slick-arrow {
        position:absolute;
        z-index: 40;
        font-size: 1em;
        display:block;
        width:50px;
        height:50px;
        line-height: 52px;
        text-align: center;
        top:50%;
        color:$color-main-buttons-text !important;
        background-color:$background-menu-wrapper;
        margin-top:-25px;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
            display:none !important;
          };

        @include border-radius(50%);

        &:last-child{
            right:0;
            i{
                margin-left:3px;
            }
        }
        &:first-child{
            i{
                margin-left:-3px;
            }
        }

        &.slick-disabled{
        opacity:.4; 
        }
    }
}

.cursoInnerFecha{
    font-family: $font__opensans;
    font-weight:$font__size_700;
    margin-bottom:25px;
    font-size: 1.5em;

    &.cursoArchiveFecha{
        font-size: .9em;
    }
}
.formCursos{
    font-family: $font__opensans;
    .form-group{
        input{
            height:54px;
        }
        input,
        textarea{
            border:none;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $color-main-text;
            font-size:.7em;
            text-transform:uppercase;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $color-main-text;
            font-size:.7em;
            text-transform:uppercase;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: $color-main-text;
            font-size:.7em;
            text-transform:uppercase;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $color-main-text;
            font-size:.7em;
            text-transform:uppercase;
        }
    }
    span.wpcf7-not-valid-tip{
        font-size:.8em;
        padding:7px 0 0 0;
    }
    .btn-enviar{
        background-color:$background-button-comprar;
        color:$color-main-buttons-text;
        font-size: .8em;
    }
}

.entradasInternas {
    p{
        font-family: $font__opensans;
        font-weight:$font__size_300;
        color:$color-text-tax-desc;
        line-height: $font__line-height-body;
        margin-bottom:25px;
    }
    h2{ 
        font-family: $font__opensans;
        color:$color-title-sections;
        font-weight:$font__size_600;
        font-size: 33px;
        margin-bottom:20px;
    }
    ul{
        margin-bottom:20px;
    }
    ul, li {
        font-family: $font__opensans;
        font-weight:$font__size_300;
        color:$color-text-tax-desc;
        line-height: $font__line-height-body;
    }
    li{
        padding:0 0 8px 24px;
    }

    &.entradasCursos{
        padding-top:0;
    }
}
.objetivos{
    padding:37px 0 44px 0;
    font-family:$font__opensans;
    font-weight:$font__size_300;
    color:$color-text-tax-desc;

    h3{
        font-size: 24px;
        margin-bottom:40px;
    }

    p{
        font-size: 14.4px;
        margin-bottom:10px;
    }

    &--bg-color{
        background-color:$background-objetivos-wrapper;
    }
}

.generalWrapper{
    background-color:#fff;
}
.serviciosBanner{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 63px;

    &.cursosBanner{
        margin-bottom:0;
    }

    h1{
        color:$color-main-buttons-text;
        text-shadow: 0 2px 4px #000;
        font-size: 44px;
        margin:0;
        padding:0 50px;
    }
}
.servicioDescripcion{
    text-align: center;
    font-family: $font__opensans;
    font-weight: $font__size_300;
    color:$color-text-tax-desc;
    line-height: 25px;
}

.entradasServicios{
    text-align: center;

    a{
        text-decoration: none;
        display:block;

        &:hover{
            .imgWrapper{
                background-color:$background-button-comprar;
            }
        }
    }
    &__info{
        font-family: $font__roboto;
        font-size:12px;
        color: $color-text-blog-home;
        line-height:1.6;
    }
}

.postImgHolder{
    height: 152px;
    background-repeat: no-repeat;
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.postImgHolderProfe{
    height:260px;
}
.metaCursos{
    p{
        margin:0;
    }
}
.row-cursos{
    padding:63px 0 63px;
    span{
        font-weight:700;
    }
}
.b{
    background-color:#f9f3e0;
}
.aligncenter{
    display:block;
    margin:0 auto;
}
.profesores{
    margin-bottom:40px;
}
.profe{
    &--wrapper{
        @include box-shadow(0, 0, 35px, rgba(224, 224, 224, 0.5));
    }
    font-size: $font__size_300;
    &--info{
        padding:8px;
        background-color:$background-cards;
        h4{
            font-family: $font__opensans;
            font-size: .8em;
            margin-bottom:8px;
            line-height:13px;
            color:$color-title-blog-home;
        }
        span{
            font-family: $font__roboto;
            font-size: .65em;
            display:block;
            margin-bottom:9px;
            color:$color-text-blog-home;
            line-height:13px;
        }
    }
    &--infoEmpleados{
        h4{
            font-size: 1.1em;
        }
        span{
            font-size:.9em;
        }
    }
    &__redes{
        a{
            @include border-radius(50%);
            display: inline-block;
            border:solid 1px #000;
            color:#000;
            width:18.5px;
            height:18.5px;
            text-align: center;
            line-height:18.5px;
            font-size: .35em;
        }
    }
    &__redesEmpleados{
        a{
            font-size: .8em;
            height:22px;
            width:22px;
            line-height: 22px;
        }
    }
}
.servicios-widget-area,
.blog-widget-area{
    section{
        margin-bottom:25px;
        border:solid 1px #e0e0e0;
        padding:18px;
        @include border-radius(7px);

        h2{
            margin-bottom:15px;
            font-family: $font__roboto;
            font-weight:$font__size_700;
            color:$color-main-text;
            text-transform: uppercase;
            font-size:22.5px;
        }

        li{
            margin-bottom:6px;
        }

        a{
            color:$color-main-text;
            font-family: $font__opensans;
            font-weight:$font__size_300;
        }
    }
}
.formularioServicios--bg-color{
    background-color:$background-form-servicio;
    padding:73px 0;
}
.list-group{
    margin-bottom:50px;
}
.list-group-item{
    padding:0;
    a{
        padding:0.75rem 1.25rem;
        display:block;
    }
}
.search-header{
    padding-top:50px;
}
.searchResult{
    a{
        color:$color-text-tax-desc;

        &:hover{
            background-color:$color-text-footer; 
        }
    }
    p{
        font-family:$font__opensans;
        font-weight:$font__size_300;
    }
}

.screen-reader-text{
    display:none;
}
.navigation{
    padding:20px 0;
    a{
        color:$color-text-tax-desc;
        font-family:$font__opensans;
        font-weight:$font__size_400;
        border:solid 1px #ccc;
        display: inline-block;
        padding:7px;
    }
    .nav-links{
        div{
            display: inline-block;
        }

        .nav-next{
            float:right;
        }
    }

}

.not-found{
    padding: 40px 0;
    color:$color-text-tax-desc;
    font-family:$font__opensans;
    font-weight:$font__size_400;

    header{
        margin-bottom: 30px;
        font-weight:$font__size_700;
    }

    p{
        margin-bottom:20px;
    }
}

.form-notfound{
    input{
        border:solid 1px #ccc;
        padding:5px;
    }
}
.equipo-bg{
    padding:30px 0;

    &:nth-child(even){
        background-color:$background-objetivos-wrapper;
    }
   
}
.empleados-slick{
    width:100%;
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    padding:0 15px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.empleadosSlide{
    padding:0 61px;
}

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    padding:20px 0;
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.navigation{
    width:100%;
}

.bg-colorForm{
    background-color:$background-form-servicio;
    padding:90px 0;

    aside{
        margin-bottom:40px;
        text-align:center;

        h1{
            font-family: $font__roboto;
            font-weight: $font__size_700;
            text-transform: uppercase;
            font-size:27px;
            margin-bottom:36px;
            color:#0a1331;
        }
        p{
            text-align: center;
            font-family: $font__roboto;
            font-weight: $font__size_300;
            color:#4b4b4b;
            line-height: 25px;
            font-size: 16px;
        }
    }

    textarea{
        height:190px;
    }

    .formCursosFooter{
        input[type="text"],
        input[type="email"],
        textarea{
            border:solid 1px #ccc;
        }
    }
}

#menuRes{
    display: none;
    @include media-breakpoint-down(lg) {
        display:block;
     }
}

.mm-page{
    background-color:#fff;
}

.entry-content{
    a{
        color:#e4572e
    }
    strong{
        font-weight:bold;
    }
    em{
        font-style: italic;
    }
    blockquote{
        border-left:solid 6px #ccc;
        margin-left:20px;
        padding-left: 20px;
    }
}