.button{
    display: inline-block;
    height: 45px;
    width: 150px; 
    line-height:45px;
    text-align: center;
    font-family: $font__opensans;
    font-size: 14px;
    font-weight: $font__size_300;
    
    @include border-radius(50px);

    &--read-more{
        background-color: $background-main-buttons;
        color: $color-main-buttons-text;
    }

    &--center{
        margin: 0 auto;
    }
}