.title{
    margin-bottom: $title-margin-bottom;
    font-family: $font__opensans;
    font-size: $title-home-size;
    font-weight: $font__size_600;

    &--home,
    &--servicios {
        color: $color-title-sections;
    }

    &--home{
        font-size: $title-home-size;
        text-align: center;
    }

    &--valores {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.4px;
        font-weight: $font__size_600;
        font-size: $title-home-valores-size;
        font-family: $font__montserrat;
        font-size: $title-home-valores-size;
        margin-bottom:$subtitle-margin-bottom;
        color: $color-main-text;
    }

    &--servicios {
        text-transform: uppercase;
        font-size: $title-home-servicios-size;
        margin-bottom: 23px;
        color: $color-main-text;
    }

    &--blog,
    &--servicio {
        font-size: $title-home-blog-size;
        margin-bottom: 7px;
        text-transform: uppercase;
        color: $color-title-blog-home;
        line-height: 22px;
    }

    &--servicio{
        text-transform: none;
    }

    &--empleados{
        color:$color-title-sections;
        margin-bottom:7px;
        font-size:30px;
    }
}