.buttonsWrapper{
    &--home {
        margin-bottom: 36px;
    }
}
.entradas {
    @include box-shadow(0, 0, 35px, rgba(224, 224, 224, 0.5));

    a{  
        display:block;
        
        &:hover{
            text-decoration:none;
        }
    }

    &__info{
        background-color:#fff;
        color: $color-text-blog-home;
        padding:27px;
        min-height: 216px;

        p {
        font-family: $font__roboto;
        font-size: 15px;
        line-height: 1.6;
        color: $color-text-blog-home; 
        }
    }

    &--masonry{
        margin-left:15px; 
        margin-right:15px; 
    }
}
.valores,
.servicios {
    padding: 54px 0;
}
.valor{
    margin-bottom: 50px; 

    p{
        text-align: center;
        font-family: $font__opensans;
        font-weight: $font__size_300;
        line-height: 1.55;
        letter-spacing: 0.2px;
    }
}
.valores {
    &--bg-color {
        background-color: $background-valores;
    }
}

.servicios {
    &--bg-color {
        background-color: $background-servicios;    
    }
    a{
        font-family: $font__opensans;
        color: $color-main-text;
        size:16px;
    }
    li {
        margin-bottom: 26px;
    }

}

.cursos,
.blogHome {
    padding-top: 38px;
    padding-bottom: 50px;
}
.cursoLink{
    &:hover{
        text-decoration:none;
    }
    
}
.curso{
    font-family: $font__opensans;
    
    &__fecha {
        border-right: solid 1.6px #d6d6d6;
        span{
            text-align: center;
            display:block;
        }
    }
    &__fecha--num {
        font-size: 115.2px;
        letter-spacing: -2.1px;
        font-weight: $font__size_700;
        color: $background-button-comprar;
    }
    &__fecha--mes {
        font-weight: $font__size_700;
        color: $color-text-cursos-home;
        letter-spacing: 0.6px;
        font-size:19.2px;
    }
    &__titulo{
        font-size: 18px;
        line-height: 0.97;
        letter-spacing: 0.5px;
        color: $color-text-cursos-home;
    }
}

.blogHome{
    margin-bottom: 19px;
}

.certificados {
    padding: 58px 0;
    
    img{
        margin:0 25px;
    }
}