html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
	margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}
.grid{
	margin: 0 auto;
	padding-top:30px;
}
.grid:after {
	content: '';
	display: block;
	clear: both;
  }

.grid-sizer,
.grid-item{
	width: 33.3333333%;
	@include media-breakpoint-down(md) {
		width: 50%;
	  }
	@include media-breakpoint-down(sm) {
	width: 100%;
	}
}
.grid-item { 
	float: left;
	&.hentry{
		padding-top:0px;
		padding-bottom:30px;
	}
}
.important {
	width: 63%; 
	@include media-breakpoint-down(md) {
		width: 100%;
	  }
}